.statistics {
    border: 2px solid lightgrey;
}

.title {
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
}

.statList {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
    list-style: none;
}

.item {
    padding: 15px;
}

.label {
    display: block;
    text-align: center;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    color: #FFFF;
    -webkit-text-stroke: 0.3px slategrey;

}

.percentage {
    display: block;
    margin: 0 auto;
    font-size: 20px;
    font-weight: 700;
    color: #FFFF;
    -webkit-text-stroke: 0.3px slategrey;
}